/* CSS for website */
.book-summary ul.summary li a, .book-summary ul.summary li span {
    white-space: normal;
	text-align: center;
}

.book-header h1 {
    font-size: 15px;
}

.book-summary {
    width: 150px;
 }